models/__pycache__/*

models/diffusion/__pycache__/*
models/modules/__pycache__/*


utils/__pycache__/*

outpus/*
data/*
nuScenes/*
exp/*

__pycache__/*



logs/*
logs/*/*
logs/*/*/*

datasets/__pycache__/*

__pycache__/*

*.json
*.txt

*.pyc
*.pkl

job_log/*
job_tboard/*
outputs/*
save_video/*
test_videos/*

*.png

semantic_images

semantic_images/*